<style>
h1{align:center;

   }
form{text-align: center;
     background-color: lightblue;


    }
legend{text-align: left;

      }
fieldset{background-color: lightblue;
  width: 500px;
  


}
</style>
